.google-review-score {
  .stars {
    display: inline-flex;
    gap: 0.2rem;
    align-items: center;
    vertical-align: middle;
  }

  svg {
    display: inline-block;
  }

  .score-text {
    margin: 0.5rem 0 0.5rem;
    font-size: 1rem;
  }
  .wp-block-button {
    width:fit-content;
    margin-top:1.5rem;
    a {
      padding: var(--button-padding);
    }
  }
}